---
title: "Joseph DiVita"
description: "Description Goes Here"
---

<div>
  <div class="header">
    <img src="/images/header.png" srcset="/images/header.png 1x, /images/header@2x.png 2x">
  </div>

  <div class="content">
    <div class="typeable">
      <h1>
        Hello World.
      </h1>
    </div>

    <p>
      My name is <a href="https://www.linkedin.com/in/joe-divita-76582250">
      Joe DiVita</a> and I am a Software Engineer &amp; Entrepreneur.
      Currently, I am the Founder and CTO of a company called
      <a href="https://www.adbasis.com">AdBasis</a> in
      <a href="https://www.google.com/maps/place/Chicago,+IL/">Chicago, IL</a> and
      occasionally contribute to the company's
      <a href="https://www.adbasis.com/blog">blog</a>. I mainly do a lot of
      back-end programming in <a href="https://www.ruby-lang.org">Ruby</a>,
      <a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.mysql.com/">
      MySQL</a>, <a href="https://www.elastic.co/">Elasticsearch</a>, and
      <a href="https://www.linux.com/">Linux</a>, as well as front end
      development work in <a href="https://facebook.github.io/react/">React</a>,
      <a href="http://redux.js.org/">Redux</a>, and
      <a href="https://www.typescriptlang.org/">Typescript</a>.
    </p>

    <p>
      I'm passionate about science, technology, & entrepreneurship. I also like to
      <a href="https://www.youtube.com/watch?v=4tPHcIQC9zg">play the guitar</a>
      on occassion.  On the internet you can contact me
      <a href="https://twitter.com/joedivs">here</a>,
      <a href="https://www.linkedin.com/in/joe-divita-76582250">here</a>,
      or <a href="mailto:joediv31@gmail.com">here</a>.
    </p>


    <ul class="social">
      <li>
        <a href="https://twitter.com/joedivs">
          <span class="social-icon social-icon-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/joe-divita-76582250">
          <span class="social-icon social-icon-linkedin"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/joedivita">
          <span class="social-icon social-icon-github"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
